{% extends 'firm/base.html' %}
{% block title %}Добавить клиента{% endblock %}
{% block content %}
<h2>Добавление нового клиента</h2>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Добавить</button>
</form>
<script>
    // Клиентская валидация: изменяем окраску поля в случае ошибки
    document.querySelectorAll('input[pattern]').forEach(function(input) {
        input.addEventListener('input', function () {
            if(!input.checkValidity()) {
                input.style.borderColor = 'red';
            } else {
                input.style.borderColor = '';
            }
        });
    });
</script>
{% endblock %}
